# Generate a hex-encoded 32-byte random key. You should use `openssl rand -hex 32`
# in your terminal to generate a random value.
SECRET_KEY=

# Generate a unique random key. The format is not important but you could still use
# `openssl rand -hex 32` in your terminal to produce this.
UTILS_SECRET=

# For production point these at your databases, in development the default
# should work out of the box.
DATABASE_URL=postgres://app:app@postgres:5432/outline
DATABASE_URL_TEST=postgres://app:app@postgres:5432/outline-test
# Uncomment this to disable SSL for connecting to Postgres
PGSSLMODE=disable

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=outline

# AUTHENTICATION

OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
